<div class="sidebar">
        <div class="logo">
            <div class="logo-name">Lehrlings App</div>
        </div>
    <ul class="nav-list">
        <li>
            <button class="nav-link">
                <i class='bx bx-grid-alt'></i>
                <span class="link-name">Dashboard</span>
            </button>
        </li>
        <li>
            <button class="nav-link">
                <i class='bx bx-grid-alt'></i>
                <span class="link-name">LAB</span>
            </button>
        </li>
        <li>
            <button class="nav-link">
                <i class='bx bx-grid-alt'></i>
                <span class="link-name">Evaluierung</span>
            </button>
        </li>
    </ul>
</div>